<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-9 editor-container">
      <div class="image-container"></div>
      <div class="previews-container"></div>
    </div>
    <div class="col-3 d-flex flex-column align-items-center p-100">
      <button class="btn-primary mb-3 py-1">NEW TEXT BLOCK</button>
      <button class="btn-primary mb-3 py-1">ZOOM IN</button>
      <button class="btn-primary mb-3 py-1">ZOOM OUT</button>
      <button class="btn-primary mb-3 py-1">ROTATE</button>
    </div>
  </div>
</div>
